@use "variables" as v;

.aside-steps-container {
  max-width: 274px;
  width: 100%;
  background: url("../images/bg-sidebar-desktop.svg");
  background-position: center;
  border-radius: 15px;
  height: 568px;

  @media screen and (max-width: 600px) {
    display: flex;
    justify-content: center;
    height: 173px;
    max-width: 100%;
    background: url("../images/bg-sidebar-mobile.svg");
    background-size: cover;
    border-radius: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px 0 0 30px;

    @media screen and (max-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
      margin: 40px 0;
      width: 70%;
      gap: 0;
    }

    li {
      display: flex;
      gap: 10px;

      .step-number {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 1px solid white;
        color: white;

        &.selected {
          background-color: v.$selectedBg;
          color: v.$selectedColor;
          border: 1px solid v.$selectedBg;
        }
      }

      .step-name {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 600px) {
          display: none;
        }

        span {
          display: block;
          text-transform: uppercase;

          &:nth-child(1) {
            color: v.$lightGray;
          }
          &:nth-child(2) {
            color: white;
            font-weight: 700;
          }
        }
      }
    }
  }
}
